<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/pasadena1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Pasadena, Maryland</h1>
                <div class="text-center">
                    <a href="https://www.airbnb.com/rooms/37834225?source_impression_id=p3_1623988751_fZ6jeVsh6qJ8x7Xi"
                        class="btn btn-primary btn-lg btn-round" role="button">
                        Location Details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Where are we?</h2>
                    <h5 class="description">We are at the beautiful private beach house in Pasadena, Maryland. A private
                        dock for fishing and viewing the ugly yet beautiful waters of Maryland where the fishing is
                        great and the views are even better.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/pasadena2.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Don't worry, where do you think I'm from? I know
                                how to clean and cook fish, no problem!"
                                <br>
                                <br>
                                <small>-Auntie</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/pasadena5.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/pasadena3.jpg')"></div>
                        <h3>So what does the fishing and views actually look like in Pasadena</h3>
                        <p> Pasadena is located at in northern Anne Arundel County; bordered to the north by the city of Baltimore, to the east by the tidal Patapsco River and by Riviera Beach, to the southeast by Lake Shore, to the south by Severna Park, and to the west by Glen Burnie. This secluded place is quiet, relaxing and has a great view of a river flowing into the Chesapeake Bay. Fishing was great with a private dock with catfish, perches, and other smaller fish were taking the bait. Night fishing was also quite relaxing with the soothing sounds of the ocean/river waves. Beautiful views of the the sunset even though the home is facing east. Food was so-so in this area but company and a great home more than makes up for it. 
                        </p>
                        <p>
                            For this time around, special guests Grandpa and Grandma Ong graced us with their presence. Grandpa Ong was particulalry excited about gambling at the MGM Casino at National Harbor. His last trip netted him with a profit of roughly $200. Again, Grandpa Ong strikes again and makes another $200 after a rough run. Starting with $300, winning at the 2nd round of roulette with a $75 profit then losing it in subsequent rounds to down to $195. Little Knife then decided to play his hand at roulette but losing roughly $60. After a semi all-in bet win on red, we recouped our losses for a total of $175. God of Gamblers showed up and came out to win 2 crazy hands (one with a revenue of roughly $250) to claw back from $175 to a total of $500. Grandma Ong was chilling this entire time doing whatever she wanted.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Gallery</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ngb-carousel class="background-grey">
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel1.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dou San in his natural habitat</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel2.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Knight of Gamblers aka Little Knife</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel3.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Making BANKKKK $$$</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel4.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Money over everything, money on my mind</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel5.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Cutting a catfish with a dull knife</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel6.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Beautiful view of the dock</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel7.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Fishing, fishing, fishing</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/carousel8.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Catching fish everyday, pimping ain't easy</h5>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-8">
                    <ngb-carousel class="background-black video-carousel" [interval]="0">
                        <ng-template ngbSlide>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/BzYnNdJhZQw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </ng-template>
                        <ng-template ngbSlide>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/au-4gDVGKm4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Special Guests</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/godgamblers.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grandpa Ong</h4>
                            <p class="category text-primary">God of Gamblers</p>
                            <p class="description">Gambling is bad, you will always lose, except for me since I am Dou
                                San.
                                So I roll up into the casino casually and I play a few games at the roulette table. BAM!
                                $200 there. BAM! Another $200 over there. That's just how I do. Dinners on me tonight.
                            </p>
                            <a href="https://twitter.com/1donaldchow?lang=en"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/dou.san.9" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-facebook-square"></i></a>
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216293025&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                            <div
                                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                                <a href="https://soundcloud.com/newton-24" title="NEWTON" target="_blank"
                                    style="color: #cccccc; text-decoration: none;">NEWTON</a> · <a
                                    href="https://soundcloud.com/newton-24/chow-yun-fat-god-of-gamblers"
                                    title="Chow Yun Fat - God of Gamblers" target="_blank"
                                    style="color: #cccccc; text-decoration: none;">Chow Yun Fat - God of Gamblers</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/grandma-ong.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grandma Ong</h4>
                            <p class="category text-primary">Straight chilling MF</p>
                            <p class="description">I actually be rolling up to restaraunts or places since I
                                got my
                                minions to wheel me around. I ain't about to do any work since I'm straight chilling.
                                That's
                                just how I roll. This is how WE roll.</p>
                            <a href="https://twitter.com/wsbmod?lang=en" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-twitter"></i></a>
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253006795&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                            <div
                                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                                <a href="https://soundcloud.com/flagaline" title="Florida Georgia Line" target="_blank"
                                    style="color: #cccccc; text-decoration: none;">Florida Georgia Line</a> · <a
                                    href="https://soundcloud.com/flagaline/this-is-how-we-roll-remix"
                                    title="This Is How We Roll (Remix) [feat. Jason Derulo &amp; Luke Bryan]"
                                    target="_blank" style="color: #cccccc; text-decoration: none;">This Is How We Roll
                                    (Remix) [feat. Jason Derulo &amp; Luke Bryan]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>