<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/leeong-white-transparent.png" alt="">
                <h1 class="h1-seo">LeeOng</h1>
                <h3>The BEST family vacations</h3>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a href="vacations/pasadena" class="btn btn-primary btn-lg btn-round" role="button">
                                Pasadena, Maryland
                            </a><br>
                            <a href="#" class="btn btn-primary btn-lg btn-round disabled" role="button">
                                Disney World, Florida
                            </a><br>
                            <a href="#" class="btn btn-primary btn-lg btn-round disabled" role="button">
                                Deep Creek, Maryland
                            </a><br>
                            <a href="#" class="btn btn-primary btn-lg btn-round disabled" role="button">
                                Kingsmill - Williamsburg, Virginia
                            </a><br>
                            <a href="#" class="btn btn-primary btn-lg btn-round disabled" role="button">
                                Great Wolf Lodge - Williamsburg, Virginia
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                            [zoomControl]="false" (mapClick)="mapClicked($event)">

                            <agm-marker *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                                <agm-info-window>
                                    <strong>InfoWindow content</strong>
                                </agm-info-window>

                            </agm-marker>

                            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                                [circleDraggable]="true" [editable]="true">
                            </agm-circle>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3 class="title">Only the best family vacations</h3>
                        <h5 class="description">Everybody says they have great vacation but they haven't been on a
                            Lee+Ong family vacation. We have the craziest, funniest, and most fun vacations of all time.
                            Check us out!</h5>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for visiting!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a target="_blank" href="https://twitter.com/rickroll?lang=en"
                            class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip"
                            title="Follow us">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/rickroll548/"
                            class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip"
                            title="Like us">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://github.com/kloklee88?tab=repositories"
                            class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip"
                            title="Star on Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>