<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/rehobeth1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Rehobeth Beach, Deleware</h1>
                <div class="text-center">
                    <a href="https://www.vrbo.com/365337ha?noDates=true&unitId=3155757"
                        class="btn btn-primary btn-lg btn-round" role="button">
                        Location Details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Where are we?</h2>
                    <h5 class="description">We are at the beautiful beach house only a few minutes away from Rehobeth
                        and Dewey Beach! Beautiful sands and a bustling boardwalk that is packed with people.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/rehobeth2.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">Too many memorable quotes, Kevin will fill in later.
                                <br>
                                <br>
                                <small>-Lazy Kevin</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/rehobeth4.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/rehobeth3.jpg')"></div>
                        <h3>Is Rehobeth Beach up to snuff?</h3>
                        <p> Rehobeth Beach which was supposedly a best keep secret for beaches ain't no secret anymore.
                            The beach
                            is packed and bustling with people. There are great beach views to soak in and an endless
                            boardwalk too. If the beach isn't for you, there is the amazing tax free shopping to be done
                            in Rehobeth Beach thanks to Deleware!
                            Three different shopping outlet and supposedly some of the largest liquor
                            stores (disproven now) grace Rehobeth Beach. </p>
                        <p>
                            Endless activites where there wasn't much time for lounging. Beach, shopping, early morning
                            fishing trips, arcade, bowling, and endless eating with 4 meals a day. Activites upon
                            activites. This was a trip that flew by becausing of the all the things to be done. This
                            will have to be a second page but that's too much work so the gallery is just going to be
                            huge with photos, videos, and extra comments/captions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Gallery</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ngb-carousel class="background-grey">
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel1.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Boardwalk with backpack seats</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel2.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>A Wild Devin appears!</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel3.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Devin's first catch</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel4.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Tony's first keeper</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel5.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Devin's first keeper</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel6.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>The HAUL</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel7.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Sock it to me</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/rehobeth-carousel8.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Beautiful Asian Steamed Fish</h5>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-8">
                    <ngb-carousel class="background-black video-carousel" [interval]="0">
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/rehobeth-fishing.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/rehobeth-darts.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/rehobeth-cooking.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Special Guests</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-player">
                            <img src="assets/img/wendy.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised" style="height:20rem;">
                            <h4 class="title">Wendy</h4>
                            <p class="category text-primary">Kevin's caretaker</p>
                            <p class="description">:)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>