<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/deepcreek1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Deep Creek, Maryland</h1>
                <div class="text-center">
                    <a href="https://www.railey.com/listing/MDGA133676/723-pinnacle-dr-oakland-md-21550/"
                        class="btn btn-primary btn-lg btn-round" role="button">
                        Location Details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Where are we?</h2>
                    <h5 class="description">We are at the gorgeous and large lake in western Maryland, Deep Creek!</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/deepcreek2.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Let's go to Walmart!!!"
                                <br>
                                <br>
                                <small>-Everybody at some point, probably</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/deepcreek3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/deepcreek4.jpg')"></div>
                        <h3>So what's going on in Deep Creek</h3>
                        <p> Deep Creek Lake is a four season paradise, offering fun on the lake in the summer sun,
                            stunning autumn colors during fall, fluffy snow for downhill skiing at Wisp Resort, and
                            fresh mountain air in the spring. There's always a reason to escape to the lake!
                        </p>
                        <p>
                            Being next to a nice freshwater lake and driving around in a boat is a a blast. it's a quiet
                            spot
                            where you can relax and lounge and not worry about work. Although at first there might not
                            be a ton to do at first glance, when you really get to visit you realize that you have the
                            most exciting and fun place on earth to go to... WALMART. A trip here, a trip there, a trip
                            everyday,
                            yay! Walmart has got your back.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Gallery</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ngb-carousel class="background-grey">
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel1.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>NEED FOR SPEED</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel2.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Lifejacket Auntie v2.0</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel3.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Giant chair</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel4.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Walmart</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel5.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>WALMART!!!</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel6.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Walmart...?</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel7.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Traffic is brutal here</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/deepcreek-carousel8.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Another deer</h5>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-8">
                    <ngb-carousel class="background-black video-carousel" [interval]="0">
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/devin-driving.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/deepcreek-fishing.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>