<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Pasadena, Maryland</h1>
                <div class="text-center">
                  <a href="https://www.airbnb.com/rooms/37834225?source_impression_id=p3_1623988751_fZ6jeVsh6qJ8x7Xi" class="btn btn-primary btn-lg btn-round" role="button">
                    Location Details
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Where are we?</h2>
                    <h5 class="description">We are at the beautiful private beach house in Pasadena, Maryland. A private dock for fishing and viewing the ugly yet beautiful waters of Maryland where the fishing is great and the views are even better.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Don't worry, where do you think I'm from? I know how to clean and cook fish, no problem!"
                                <br>
                                <br>
                                <small>-Auntie</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>So what does the fishing and views actually look like in Pasadena</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Special Guests</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grandpa Ong</h4>
                            <p class="category text-primary">God of Gamblers</p>
                            <p class="description">Gambling is bad, you will always lose, except for me since I am Dou San. So I roll up into the casino casually and I play a few games at the roulette table. BAM! $200 there. BAM! Another $200 over there. That's just how I do. Dinners on me tonight.</p>
                                <a href="https://twitter.com/1donaldchow?lang=en" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/dou.san.9" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Grandma Ong</h4>
                            <p class="category text-primary">Straight chilling MF</p>
                            <p class="description">I actually be straight rolling up to restaraunts or places since I got my minions to wheel me around. I ain't about to do any work since I'm straight chilling. That's just how I roll. That's how you gonna roll with me too.</p>
                                <a href="https://twitter.com/wsbmod?lang=en" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>
