<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/kingsmill1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Kingsmill - Williamsburg, Virginia</h1>
                <div class="text-center">
                    <a href="https://www.kingsmill.com/?utm_source=direct&utm_medium=web"
                        class="btn btn-primary btn-lg btn-round" role="button">
                        Location Details
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Where are we?</h2>
                    <h5 class="description">We are at the beautiful golf and spa resort of Kingsmill, where you don't
                        even have to golf to have a great time!</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/kingsmill3.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Just go straight"
                                <br>
                                <br>
                                <small>Random Friendly Parking Guy</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/kingsmill2.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/kingsmill4.jpg')"></div>
                        <h3>The home away from home</h3>
                        <p> We're like another world nestled into Williamsburg, Virginia—a top golf and spa destination.
                            With our unparalleled range of accommodations, stunning James River setting, three must-play
                            championship golf courses (one with exclusive access for The Club at Kingsmill members) and
                            a boundless range of recreational activities and leisure pursuits—including tennis—right on
                            the grounds, Kingsmill is a relaxing, fun, and memorable luxury waterfront escape.
                        </p>
                        <p>
                            A classic and one of the first starts to the best familly vacations. The start of the memes
                            and the gathering. We are learning and lounge and relaxing. Water, water, everywhere, so
                            they say. Although we don't golf, we enjoyed the beautiful Williamsburg food and view.
                            Hitting up Busch Gardens and the Williamsburg Outlet. A start of a beautiful tradition is
                            here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Gallery</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <ngb-carousel class="background-grey">
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel1.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Deer in its natural habitat</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel2.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>The FAM</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel3.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ZZZ</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel4.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>More ZZZz</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel5.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Lifejacket Auntie</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel6.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Hot tub</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel7.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Evidence of floty abuse by large adult male</h5>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block carousel-image mx-auto" src="assets/img/kingsmill-carousel8.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Conquering the golf course</h5>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-8">
                    <ngb-carousel class="background-black video-carousel" [interval]="0">
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/kingsmill-ride.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                        <ng-template ngbSlide>
                            <video class="video" loop muted controls>
                                <source src="assets/video/kingsmill-lazyriver.mp4" type="video/mp4" />
                            </video>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Kevin Lee.
            </div>
        </div>
    </footer>
</div>