<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/auntie.jpg" alt="">
                </div>
                <h3 class="title">Auntie</h3>
                <p class="category">Fun Person Extraordinaire</p>
                <div class="content">
                    <div class="social-description">
                        <h2>Young?</h2>
                        <p>Age</p>
                    </div>
                    <div class="social-description">
                        <h2>6</h2>
                        <p>Trips</p>
                    </div>
                    <div class="social-description">
                        <h2>>9000</h2>
                        <p>Fun Factor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="auntie" class="btn btn-default btn-round btn-lg btn-icon"
                    rel="tooltip" title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/vivianchowwaiman/?hl=en"
                    class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description">An artist of considerable range, Auntie — my English is superb. Everything I say
                should be a new urban dictionary definition. I am currently sanitizing the world of all COVID-19
                bacteria, one alcohol spray at a time. I am the fun person EXTRAORDINAIRE. Bringing the fun to all of
                our trips, I am #1.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">Catchphrases</h4>
                    <ul>
                        <li>"SUPPORT SUPPORT!"</li>
                        <li>"Don't pay or I am not coming"</li>
                        <li>"KILL, KILL, kill the food"</li>
                        <li>"Wear those masks"</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/auntie1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/auntie2.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/auntie.jpg" alt="" class="img-raised">
                                                <img src="assets/img/auntie3.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons media-1_camera-compact"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                                <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and coded by Kevin Lee
            </div>
        </div>
    </footer>
</div>